<h1>{{ title }}</h1>
<form method="post">
    Your Name:<br>
    <input type="text" name="user[name]"> <br>
    Gender:<br>
    <input type="radio" name="gender" value="male" checked> Male<br>
    <input type="radio" name="gender" value="female"> Female<br>
    Your Age:<br>
    <input type="text" name="user[age]"> <br>
    Description:<br>
    <input type="text" name="user[description]"> <br/>
    <input type="submit">
    <br>
</form>

