/*/*body {    
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;  
    
}

input.btn.btn-success {
    position: relative;
    top: 10px;
}*/


/*a {
  color: #00B7FF;
}

section {
  float: left;
  background: #bdc3c7;
  padding: 10px;
  margin: 30px;
  width: 300px;
  box-shadow: 3px 3px 1px #34495e;
  min-height: 400px;
}

section:first-of-type {
  margin-left: 0;
}

section:last-of-type {
  margin-right: 0;
}

section h3 {
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}

.insert {
  background: #2ecc71;
}

.get {
  background: #ecf0f1;
}

.get2 {
  position: absolute;
}

.update {
  background: #3498db;
}

.delete {
  background: #e74c3c;
}

.input label {
  display: block;
  font-weight: bold;
  padding: 2px 0;
}

input,
button {
  font: inherit;
}

button {
  margin-top: 10px;
  border: none;
  box-shadow: 1px 1px 1px #34495e;
  border-radius: 0;
  background: #ecf0f1;
  cursor: pointer;  
}

button:hover {
  background: #bdc3c7;
}*/

.item {
    padding: 20px;
    background: #a7b2df;
    box-shadow: 0 0 5px #cccccc;
}


.item2 {
    padding: 20px;
    background: #f5f5f5;
    box-shadow: 0 0 5px#cccccc;
    
}



/*#result {
  position: relative;
  left: 350px;
  bottom: 525px;
}*/

.symptoms {
  display: none;
}

.diagnostic {
  display: none;
}

input[type=checkbox]:checked ~ .symptoms {
  display: block;
}

#formstyle {
    margin: 20px;
    padding: 20px;
    background: #f5f5f5;
    box-shadow: 0 0 5px#cccccc;
    opacity: 0.87;
}

.container {
  top: 30px;
}

/*sssss*/

nav.primary{
  display: table;
  margin: 0 auto;
}

nav.primary ul, nav.primary ul li {
  margin: 0px;
}

nav.primary select {
  display: none;
  width:  100%;
  height: 28px;
  margin: 21px 0;
}

nav.primary ul li {
  display: inline;
  
  position: relative;
}

nav.primary ul li a {
  display: inline-block;
  line-height: 49px;
  padding:  0 14px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 0.08em;
  background: #292c47;
}

nav.primary ul li a:hover {
  background: #2ecc71;
  cursor: pointer;
}

#nav {
  background: #292c47
}

#row1 {
  background: #f5f5f5;
}

body {
  background-image: url(/img/14957-NQ30T3.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  
}

#startButton {
  color: white;
  position: relative;
  top: 90px;
  left: 1000px;
  background: #292c47;
}